@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0A0B0C;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 10px;
}
